{% extends "layout.html" %}
{% block content %}
<div class="center">
    <h1>Contact Us</h1>
    <h1>Submit Responses</h1>
    <p>Fill out the form below:</p>
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSffL8GO5h9SFw_sOZYJeE41Wl3luXVUhfcMy14bdG24Ooa_2Q/viewform?embedded=true" width="800" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    <div class="faq">
        <h2>Frequently Asked Questions</h2>
        <p><strong>Q:</strong> What are your business hours?</p>
        <p><strong>A:</strong> We are open Monday through Friday, 9am to 5pm.</p>
        <p><strong>Q:</strong> How can I track my order?</p>
        <p><strong>A:</strong> You can track your order by logging into your account on amazon or flipkart website.</p>
        <p><strong>Q:</strong> Do you offer refunds?</p>
        <p><strong>A:</strong> that is according to amazon and flipkart policy</p>
        
    </div>
</div>
{% endblock content %}
